-# encoding: utf-8
!!!
%html
  %head
    %meta{"http-equiv" => "content-type", :content => "text/html; charset=utf-8"}
    %meta{"http-equiv" => "content-style-type", :content => "text/css"}
    %meta{"http-equiv" => "content-script-type", :content => "text/javascript"}
    %title rab2pdf - Rabbitable PDF maker
    %link{:rel => "stylesheet", :type => "text/css", :href => "style.css"}
    %script{:type => "text/javascript", :src => "javascript/jquery.js"}
    %script{:type => "text/javascript", :src => "javascript/rab2pdf.js"}
  %body
    %h1 rab2pdf

    Powered by
    %a{:href => "http://www.ruby-lang.org/ja/"} Ruby
    ,
    %a{:href => "http://www.sinatrarb.com/intro-jp.html"} Sinatra
    ,
    %a{:href => "http://haml-lang.com/"} Haml
    ,
    %a{:href => "http://rabbit-shocker.org/"} Rabbit

    %form{:action => url("/", false, true), :method => "post", :enctype => "multipart/form-data"}
      %p
        source (rab|rd)
        %br
        %textarea{:id => "source", :name => "source", :cols => 50, :rows => 10}= @params[:source]
        = @source_error_message
      %p
        option: use a file instead of the textarea:
        %input{:type => "file", :id => "file", :name => "file", :size => 30, :value => ""}
      %p
        output file name
        %br
        %input{:type => "text", :name => "filename", :size => 30, :value => @params[:filename]}
        = @filename_error_message
      %p
        %input{:type => "submit"}
    %p
      - if @download_url
        download URL
        %br
        %a{:href => @download_url}= @download_url

    %a{:href => "https://github.com/myokoym/rab2pdf"}
      %img{:style => "position: absolute; top: 0; right: 0; border: 0;",
           :src => "https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png",
           :alt => "Fork me on GitHub"}
